[Desktop Entry]
Type=Application
Version=1.0
Name=Midnight Commander
Comment=Visual file manager
Exec=urxvt -e mc "%s"
Icon=folder
MimeType=inode/directory
Terminal=false
Categories=Utility;
